all.role  manager

if named cache-redirector
  xrd.port    9000
  xrd.protocol http:9000 libXrdHttp.so
  all.manager xrootd.t2.ucsd.edu 9001
fi

# XXMT all.manager meta xrootd.t2.ucsd.edu 2041                                                                                                                                                                             

all.export /store stage r/o

all.adminpath /var/run/xrootd
all.pidpath   /var/run/xrootd

# Retries should actually be 0, but 1 is minimum                                                                                                                                                                            
cms.dfs    limit 0 lookup distrib mdhold 0 redirect immed retries 1
cms.fxhold noloc 15m 4h

xrootd.trace emsg login stall redirect
xrd.trace conn
cms.trace defer files redirect stage