all.role  manager

if defined ?~REDIRECTOR
   set redirector = $REDIRECTOR
   all.manager $redirector 9004
fi

if named cache-redirector
  xrd.port 9002
fi

if defined ?~XRPORT
   set eXRPORT = $XRPORT
else
   set eXRPORT = 9001
fi

if exec xrootd
   xrd.protocol http:$eXRPORT libXrdHttp.so
fi

http.listingdeny yes
sec.protbind  * none
ofs.authorize 1
acc.audit deny grant

#xrootd.seclib /usr/lib64/libXrdSec.so
acc.authdb /etc/xrootd/Authfile-noauth

#http.cadir /etc/grid-security/certificates
#http.cert /etc/grid-security/xrd/xrdcert.pem
#http.key /etc/grid-security/xrd/xrdkey.pem

#http.staticpreload http://static/robots.txt /etc/xrootd/stashcache-robots.txt

# XXMT all.manager meta xrootd.t2.ucsd.edu 2041                                                                                                                                                                             

all.export    /
xrd.allow     host *
sec.protocol  host

all.adminpath /var/run/xrootd

# Retries should actually be 0, but 1 is minimum                                                                                                                                                                            
cms.dfs    limit 0 lookup distrib mdhold 0 redirect immed retries 1
cms.fxhold noloc 15m 4h

# Added so http would not redir to https
http.desthttps no
http.trace all -debug

xrootd.trace emsg login stall redirect
xrd.trace conn
cms.trace defer files redirect stage